<%- include("../partials/header") %>

<div class="container">

	<form action="/packages/<%= package_id %>/comments/<%= comment._id %>?_method=PUT"  method="POST">
		<table class="table table-striped">
			<caption>这里修改评论</caption>
			<thead>
				<tr>
					<th>内容</th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<th>
							<input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
						</th>
						<th>
							<button class="btn btn-primary btn-default">
								Submit!
							</button>	
						</th>
					</tr>
			</tbody>
		</table>
	</form>

	<a href="/packages">Go back!</a>
	
</div>



<%- include("../partials/footer") %>